body {
    /*Тело класса*/
    font-size: 16px;
    color: black;
    background: url(../images/background_image.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Oswald', sans-serif;
}

#header-nav {
    /*Класс отвечающий за хедер (навигационный бар)*/
    border-radius: 0;
    border: 0;
    opacity: 0.6;
}

#logo-img {
    /*id лого картинки*/
    background: url(../images/MainLogo.png) no-repeat;
    width: 134px;
    height: 134px;
    margin: 5px 5px 5px 0px;
}

.navbar-brand h1 {
    /*Класс отвечающий за заголовок навигационного бара*/
    font-family: 'Russo One', sans-serif;
    color: #14206e;
    font-size: 2em;
}

#phone {
    font-size: 1.8em;
    text-align: right;
    padding-bottom: 0;
    margin-top: 5px;
}

#delivery {
    color: red;
    text-align: right;
    padding-right: 15px;
}

.navbar-toggler.custom-toggler {
    border-width: 2px;
    border-color: rgb(64, 73, 148);
}

#works-tile,
#contacts-tile,
#map-tile {
    height: 225px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(64, 73, 148);
    overflow: hidden;
}

#works-tile:hover,
#contacts-tile:hover,
#map-tile:hover {
    box-shadow: 0 1px 5px 1px rgb(85, 100, 233);
}

#works-tile {
    background: url(../images/works.jpg) no-repeat;
    background-position: center;
}

#contacts-tile {
    background: url(../images/contacts.jpg);
    background-position: center;
}

#works-tile span,
#contacts-tile span,
#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #14206e;
    color: beige;
    opacity: 0.8;
}

@media (min-width: 1200px) {
    .jumbotron {
        background: url(../images/jumbotron_1125.jpg) no-repeat;
        height: 600px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron {
        background: url(../images/jumbotron_940.jpg) no-repeat;
        height: 530px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron {
        background: url(../images/jumbotron_768.jpg) no-repeat;
        height: 387px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
        margin-top: 20px;
        padding: 0;
    }
    #works-tile,
    #contacts-tile,
    #map-tile {
        height: 140px;
        width: 100%;
        margin-bottom: 15px;
        background-size: 100%;
        position: relative;
        border: 2px solid rgb(64, 73, 148);
        overflow: hidden;
    }
    #contacts-tile {
        background: url(../images/contacts_139.jpg);
        background-position: center;
    }
}

@media (max-width: 767px) {
    #call-btn>a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #6c79cf;
        background-color: #8292f7;
        color: #951c49;
    }
    .navbar-brand p {
        font-family: 'Russo One', sans-serif;
        font-size: 0.55em;
        text-align: left;
    }
    .jumbotron {
        background: url(../images/jumbotron_510.jpg) no-repeat;
        height: 246px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
        margin-top: 20px;
        padding: 0;
    }
}


/* @media (max-width: 415px) {
    .jumbotron {
        background: url(../images/jumbotron_385.jpg) no-repeat;
        height: 189px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
        margin-top: 20px;
        padding: 0;
    }
    #works-tile {
        background-position: center;
        width: 333px;
        margin: 0 auto 15px;
    }
    #contacts-tile {
        background-position: center;
        width: 333px;
        margin: 0 auto 15px;
    }
}

@media (max-width: 376px) {
    .jumbotron {
        background: url(../images/jumbotron_341.jpg) no-repeat;
        height: 189px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
        margin-top: 20px;
        padding: 0;
    }
} */

@media (max-width: 475px) {
    .jumbotron {
        background: url(../images/jumbotron_385.jpg) no-repeat;
        height: 189px;
        box-shadow: 0 0 50px #8292f7;
        border: 2px solid #6c79cf;
        margin-top: 20px;
        padding: 0;
    }
    #works-tile,
    #contacts-tile,
    #map-tile {
        height: 200px;
        width: 100%;
        background-size: 100%;
        margin-bottom: 15px;
        position: relative;
        border: 2px solid rgb(64, 73, 148);
        overflow: hidden;
    }
}