body {
    font-size: 16px;
    color: black;
    background: url(../images/background_image.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Oswald', sans-serif;
}

.container{
    margin-left: 20px;
}

#header-nav{

    background-color: white;
    border-radius: 0;
    border: 0;
    opacity : 0.6;
    height: 165px;
}


#logo-img{

    background: url(../images/MainLogo.png) no-repeat;
    width: 134px;
    height: 134px;
    margin: 8px 8px 8px 0px;
}

.navbar-brand {
    padding-top: 18px;
}

.navbar-brand h1 {
    font-family: 'Russo One', sans-serif;
    color: #14206e;
    font-size: 2em;
}


